form#addProductForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

form#addProductForm input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

